body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Staatliches", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* border-style: solid;
  border-width: 50px;
  border-color: black; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#introduction,
#appts {
  min-width: auto;
  padding: 50px;
  background-color: #f0f6f6;
  margin-top: 75px;
  margin-right: 250px;
  margin-left: 250px;
}

#inputForm {
  width: 450px;
}

.carousel-item {
  max-height: 700px;
}

.bi-arrow-left-circle,
.bi-arrow-right-circle {
  font-size: 50px;
  color: black;
}

.blockquote,
.blockquote-footer {
  font-size: 20px;
}

@media (max-width: 1000px) {
  #introduction,
  #appts {
    margin: 75px;
  }
  .carousel-item {
    max-height: 300px;
  }
  .bi-arrow-left-circle,
  .bi-arrow-right-circle {
    font-size: 25px;
  }

  .blockquote,
  .blockquote-footer {
    font-size: 12px;
  }
}

@media (max-width: 765px){
  
}
