body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Staatliches", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* border-style: solid;
  border-width: 50px;
  border-color: black; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#introduction,
#appts {
  min-width: auto;
  padding: 50px;
  background-color: #f0f6f6;
  margin-top: 75px;
  margin-right: 250px;
  margin-left: 250px;
}

#faq {
  min-width: auto;
  padding: 50px;
  background-color: #2a3d45;
  margin: 75px;
}
#inputForm {
  width: 450px;
}

.carousel-item {
  max-height: 600px;
}

.bi-arrow-left-circle,
.bi-arrow-right-circle {
  font-size: 50px;
  color: black;
}

.blockquote,
.blockquote-footer {
  font-size: 20px;
}

.carousel-caption {
  margin-bottom: 250px;
  letter-spacing: 5px;
}

@media (max-width: 1024px) {
  #introduction,
  #appts {
    margin: 95px;
  }
  .carousel-item {
    max-height: 300px;
  }

  .carousel-caption {
    margin-bottom: 100px;
  }
  .bi-arrow-left-circle,
  .bi-arrow-right-circle {
    font-size: 25px;
  }

  .blockquote,
  .blockquote-footer {
    font-size: 12px;
  }

  .carousel-text {
    font-size: 25px;
  }
}

@media (max-width: 540px) {
  #introduction,
  #appts,
  #faq {
    margin-left: 90px;
    margin-right: 90px;
    padding: 15px;
  }
  .carousel-caption {
    letter-spacing: 2px;
    margin-bottom: 5%;
  }

  .intro-img {
    height: 75px;
  }
  .carousel-item {
    max-height: 150px;
  }
  .bi-arrow-left-circle,
  .bi-arrow-right-circle,
  .card-text {
    font-size: 15px;
  }

  .blockquote,
  .blockquote-footer,
  .form-control {
    font-size: 7px;
  }

  .navbar-toggler {
    font-size: 12px;
  }

  .card-text,
  label,
  .nav-text,
  .carousel-text,
  .accordion-button {
    font-size: 12px;
  }

  .faq-text,
  .faq-btn,
  .appt-btn,
  .submit-btn {
    font-size: 8px;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    height: 15px;
    width: 15px;
  }
}

@media (max-width: 360px) {
  #introduction,
  #appts,
  #faq {
    margin-left: 40px;
    margin-right: 40px;
    padding: 15px;
  }
  /* .carousel-caption {
    letter-spacing: 2px;
  } */
  /* .intro-img {
    height: 75px;
  } */
  /* .carousel-item {
    max-height: 150px;
  } */
  /* .bi-arrow-left-circle,
  .bi-arrow-right-circle,
  .card-text {
    font-size: 15px;
  } */

  /* .blockquote,
  .blockquote-footer,
  .form-control {
    font-size: 7px;
  } */

  /* .navbar-toggler {
    font-size: 12px;
  } */

  /* .card-text,
  label,
  .nav-text,
  .carousel-text {
    font-size: 12px;
  } */

  /* .faq-text,
  .faq-btn,
  .appt-btn {
    font-size: 8px;
  } */

  /* .carousel-control-prev-icon,
  .carousel-control-next-icon {
    height: 15px;
    width: 15px;
  } */
}
